*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins',sans-serif;
}
.game-container{
    border: 2px solid #95a5a6;
    background-color: #2c3e50;
    height: 500px;
    width: 300px;
    position: relative;
}
.game-container .labels{
    height: 50px;
    width: 100%;
    background-color: #34495e;
    color: #95a5a6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-left: 0.5rem;
    position: relative;
    z-index: 3;
}
.game-container .game{
    height: 400px;
    width: 100%;
    position: relative;
    background-image: url(https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTM2NjcxMC1pbWFnZS1rd3Z4eGVxcC5qcGc.jpg);
    background-size: auto 100%;
}
.game-container .game .al-container{
    height: 400px;
    width: 300px;
    display: flex;
    position: relative;
}
.game-container .game .al-container img{
    width: 60px;
    height: 50px;
    position: absolute;
    animation: alien;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    bottom: 400px;
}
@keyframes alien {
    100%{
        bottom: 0px;
    }
}
.game-container .game .al-container img:nth-child(1){
    left: 180px;
}
.game-container .game .al-container img:nth-child(2){
    left: 60px;
}
.game-container .game .al-container img:nth-child(3){
    left: 240px;
}
.game-container .game .al-container img:nth-child(4){
    left: 0px;
}
.game-container .game .al-container img:nth-child(5){
    left: 120px;
}
.game-container .game #plane{
    width:calc(100% / 5);
    position: absolute;
    z-index: 2;
    bottom: 0;
    /* background-color: green; */
}
.game-container .game .bullet{
    width: 7px;
    position: absolute;
    animation: bullet;
    animation-duration: 2s;
    bottom: 40px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes bullet {
    100%{
        bottom: 380px;
    }
}

.game-container .plane-controll-container{
    width: 100%;
    height: 50px;
    display: flex;
}
.game-container .plane-controll-container input{
    width: 100%;
    cursor: pointer;
    opacity: 0;
}
.game-container .end-display{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #95a5a6;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    display: none;
}
.game-container .end-display-block{
    display: flex;
}
.game-container .end-display div{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.game-container .end-display div button{
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #2c3e50;
    color: #95a5a6;
    cursor: pointer;
}
.game-container .d-none{
    display: none;
}
